@import "../../styles/index";

.btn.btn-secondary.dropdown-toggle {
  padding: 0rem 1rem;
  font-size: 1rem;
  background-color: $default-fog;
  color: $default-grey;
  border: none;
  height: 41px;
  float: right;

}

