.task{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 3px;
  margin-right:10px;
  margin-left: 5px;
}

.task p{
  font-weight: 400;
  padding: 2px 10px 2px 10px;
  //margin: 0 0 0 0;
  margin-bottom: 5px;
}